<div class="static-pages-body"> 
  <h1>StaticPages#index</h1>
  <p>Welcome! The date and time is <%= Time.now %></p>
  <img class="img-responsive" src="/images/racebike.jpg" alt="featuredproduct">
</div>