<div class="static-pages-body">  
  <div class="thank-you-page">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <p>Thank you for your message. Our Team will come back to you as soon as possible.</p>
      </div>
    </div>  
  </div>
</div>