<table>
  <!--<thead>
    <tr>
      <td>
        <h1>THE STORE</h1>
        <h2>Experience the place where everything is possible...</h2>
      </td>
    </tr>
  </thead>-->
  <tbody>
    <tr>
      <td><p>You have received a new contact form message. The contents of the message are:</p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
  <!--<tfoot>
    
  </tfoot>-->
</table>