<table>
  <tbody>
    <tr>
      <td><p>Welcome to THE STORE!</p></td>
    </tr>
    <tr>
      <td>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti aspernatur cupiditate unde autem, ipsam tempora ad quisquam. Officia laborum dignissimos fuga possimus, commodi repellendus cumque nam alias, quod vitae voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quod nihil hic non perferendis voluptatibus vel accusamus dicta quam, eum commodi impedit exercitationem asperiores consequatur expedita aliquam cum, veritatis. Voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat eos libero aliquid fugit temporibus modi quos veniam illo, rerum dignissimos quaerat expedita, tempore sapiente quisquam corporis ducimus hic, error, illum!
        </p>
      </td>
    </tr>
  </tbody>
</table>