/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/**
 * Description: Basic CSS for THE STORE online webshop.
 * Version: 1.0.0
 * Last update: 2015/07/21
 * Author: Tobias Wegner <tobiassimonwegner@gmail.com>
 *
 * Summary:
 *
 *  0. General
 *    - 0.1. Fonts
 *    - 0.2. TYPE ELEMENT
 *  1. Header
 *    - 1.1. Navbar
 *  2. Content
 *  3. Footer
 */

/* ==========================================================================
   0. General
   ========================================================================== */

/* 0.1. Fonts
   ========================================================================== */
h1, 
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Exo', sans-serif; 
}

p,
a,
li {
  font-family: 'Merriweather', serif;
}

/* 0.2. Bootstrap overwrites
   ========================================================================== */
.row {
  margin-right: 0px;
  margin-left: 0px;
}

/* ==========================================================================
   1. Header
   ========================================================================== */
.navbar {
  background-color: rgba(0,85,164,1);
  color: white;
  padding-bottom: 30px;
}

.headlines {
  width: 80%;
  margin: 0 auto;
}

.headlines h1 {
  font-size: 50px;
  margin: 0px;
  margin-top: 10px;  
}

.headlines h2 {
  font-size: 26px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.searchbox {
  padding-top: 7px;
  padding-bottom: 10px;
}

#searchtext {
  color: white;
  font-family: 'Exo', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
}

#searchfield {
  color: black;
  background-color: white;
  border-radius: 5px;
  font-family: 'Exo', sans-serif;
  border-color: rgba(0,85,164,1);
}

#searchbutton {
  color: rgba(0,85,164,1);
  background-color: white;
  border-radius: 5px;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  border-color: rgba(0,85,164,1);
}

@media (min-width: 768px) {
  .searchbox {
  float: right;
  }
}

/* 1.1. Navbar
   ========================================================================== */
.container-fluid {
  width: 80%;
  margin: 0 auto;
  min-height: 40px;
  border-bottom: 1px solid white;
}

.nav {
  float: left;
  width: 60%;
  padding-left: 0px;
  margin-bottom: 0px;
}

.nav li {
  float: left;
  display: block;
  position: relative;
}

.nav>li>a {
  display: block;
  position: relative;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: 'Exo', sans-serif;
  font-size: 14px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.nav>li>a:hover {
  color: black;
  background-color: rgba(0,85,164,1);
  text-decoration: none;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: rgba(0,85,164,1);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

@media (min-width: 768px) {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  #first-site a {
  padding-left: 0px;
  }
}

/* ==========================================================================
   2. Content
   ========================================================================== */
.page-content {
  width: 80%;
  margin: 0 auto;
}

/* ==========================================================================
   3. Footer
   ========================================================================== */
.app_footer {
  background-color: rgba(0,85,164,1);
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer-content {
  width: 80%;
  margin: 0 auto;
}

.copyright {
  float: left;
}

.copyright p {
  font-family: 'Exo', sans-serif;
}

.previous-page {
  background-color: rgba(0,85,164,1);
  float: right;
}

.previous-page a {
  color: white;
}

.previous-page a:hover {
  background-color: rgba(0,85,164,1);
}