<div class="product-index">
  <%# cache(cache_key_for_products) do %>
  <h1>List of Products</h1>

  <div class="table-responsive">
    <table class="product-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Image</th>
          <th>Colour</th>
          <th>Price</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <%# cache(p) do %>
          <%= render @products %>
        <%# end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'New Product', new_product_path %>
  <%# end %>
</div>